*{
    color: white;
}
.post {
    padding: 0px 0;
}

.btn-sm {
    margin: 5px 5px 5px 0;
}

.btn-danger {
    margin: 5px 0 5px 10px;
}

.comments-container {
    display: none;
}


body {margin: 0;}
canvas {background: rgb(0, 0, 0);height:100%;position: absolute;} 